<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 <listener class-name="Academy.testnglisteners"/>
 <listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Academy.homepage"/>
      </classes>
       </test>
       <test name="Test1">
       <classes>
      <class name="Academy.validatingpage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
